
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


html, body {
    scroll-behavior: smooth;
    background-color: rgb(247, 243, 239);
}

body, input {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 50vh;
}

/* hidden properties */

.hidden {
    opacity: 0;
    transition: 1s;
    filter: blur(10px);
    transform: translateX(-50%) ;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0) scale(1);
}

h1 {
    font-weight: 200;
    font-size: 80px;
    color: black;
    text-align: center;
    margin-bottom: 0;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

a:hover {
    color: grey;
}

li {
    position: relative;
    padding-inline: 15px;
}
 
nav {
    display: flex;
    list-style: none;
    padding: 20px;
    text-align: right;
}

header {
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: rgb(247, 243, 239);
}

.home {
    display: flex;
    justify-content: left;
    text-align: left;
    margin-right: auto;
}

footer {
    text-align: center;
    padding-bottom: 20px;
}

.para_text {
    line-height: 30px;
    text-align: justify;
}

.image_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
}

.mevid {
    width: 400px;
}

.me {
    width: 100%;
    align-items: center;
    transition-delay: 400ms;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(49, 49, 49, 0.1);
}

#about {
    display: flex;
}

#about .hidden {
    width: 150%;
}

.two {
    padding-left: 225px;
    max-width: 1300px;
    padding-top: 50px;
}

.service_container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap into multiple lines */
    justify-content: space-around; /* Adjust alignment as needed */
    cursor: pointer;
}

.services_box {
    position: relative;
    width: 250px; /* Adjust this width as needed */
    height: auto; /* Allow the height to adjust based on content */
    overflow: hidden;
    margin: 20px; /* Add some margin for spacing */
    box-sizing: border-box; /* Include padding and border in the total width */
    border-radius: 10px;
}


.services_img {
    border-radius: 10px;
    transition: transform 0.5s ease, filter 0.5s;
    width: 100%;
    height: 100%; /* Let the height adjust based on image proportions */
    object-fit: cover; /* Maintain aspect ratio without distortion */
    box-shadow: 0px 2px 15px rgba(49, 49, 49, 0.1);
}

.services_box:hover .services_img {
    transform: scale(1.1);
    filter: brightness(0.3);
}

.services_text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: white;
    font-size: 20px;
    text-align: center;
}

.services_box:hover .services_text {
    opacity: 1;
}

.services_box:hover .services_text ~ .services_img {
    filter: brightness(0.3);
    transition: filter 0.8s;
}



.services_box:nth-child(1) {
 transition-delay: 200ms;
}
.services_box:nth-child(2) {
    transition-delay: 400ms;
   }
.services_box:nth-child(3) {
 transition-delay: 600ms;
}
.services_box:nth-child(4) {
    transition-delay: 800ms;
   }
.services_cap {
    text-align: center;
}

hr {
    opacity: 40%;
    border:0.7px solid rgb(107, 85, 72);
}

.contact_me {
    border: 1px solid;
    padding-inline: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
}

.learn_more {
    border: 1px solid;
    padding-inline: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
}

.caption {
    margin-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.work_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding-inline: 100px;
    padding-bottom: 100px;
}

.work_box {
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    border-bottom: 0;
    border-radius: 20px;
    box-shadow: 0px 2px 15px rgba(49, 49, 49, 0.1);

}

.work {
    display: block;
    width: 100%;
    height: 100%; /* Set the height to match the width */
    object-fit: cover; /* Maintain square aspect ratio */
    transition: transform 0.5s, filter 0.5s; /* Add smooth transition */
    cursor: pointer;
}

.work_box:hover .work {
    filter: brightness(0.6);
    transform: scale(1.1); /* Adjust the scale as needed */
}

.work_title {
    text-align: left;
    font-size: 50px;
    padding-top: 90px;
    padding-bottom: 50px;
}

.work_box:nth-child(2) {
    transition-delay: 200ms;
   }
   .work_box:nth-child(3) {
    transition-delay: 400ms;
   }
   .work_box:nth-child(5) {
    transition-delay: 200ms;
   }
   .work_box:nth-child(6) {
    transition-delay: 400ms;
   }
   .work_box:nth-child(8) {
    transition-delay: 200ms;
   }
   .work_box:nth-child(9) {
    transition-delay: 400ms;
   }

   h2 {
    font-size: 50px;
    line-height: 45px;
   }

   .job_title {
    padding-top: 10%;
   }

   .wtf {
   margin-top: -20px;
   margin-left: 10px;
   background-color: transparent;
   }


   .job_text {
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
    padding-top: 5%;
   }

   .divider {
    padding-top: 5%;
    display: flex;
    padding-left: 15%;
    padding-right: 10%;
   }

   .column {
    width: 50%;
  }

   .columnright {
    width: 50%;
    margin-left: 10%;
  }

  p {
    line-height: 25px;
  }

  li {
    line-height: 25px;
  }

  .infopic {
    width: 75%;
}


.boxforpic {
    padding-top: 5%;
    text-align: center;
}

footer {
    padding-top: 10%;
    padding-bottom: 5%;
}

iframe {
    width: 50%;
    height: 600px;
}

#home {
    position: relative;
}

.slayfirst {
    width: 100%;
    filter: brightness(0.4);
}

.slaysecond {
    display:none;
    width: 100%;
    filter: brightness(0.6);
}

.maintitle,
.caption,
.learn_more {
    position: absolute;
    z-index: 2;
    color: white;
}

.maintitle {
    top: 22%;
}
.caption {
    bottom: 28%;
}

.learn_more {
    bottom: 20%;
}

@media screen and (max-width: 850px) {
    .maintitle {
        font-size: 30px;
        top: 29%;
    }

    #about {
        grid-gap: 6px; /* Add gap between items */
    }

    .caption {
        top: 48%;
        bottom: 0%;
        font-size: 12px;
    }

    .learn_more {
        bottom: 37%;
        font-size: 13px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}


.menu-icon {
    display: none; /* Hide the menu icon by default on larger screens */
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.4s;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Media query for smaller screens - show burger menu */
@media screen and (max-width: 900px) {
    .menu {
        display: none; /* Hide the menu items by default on smaller screens */
        flex-direction: column;
        text-align: right;
        background-color: transparent;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .menu.active {
        display: flex; /* Show the menu items when the menu is active */
    }

    .menu-icon {
        display: block; /* Show the burger menu icon */
    }

    .contact_me {
        border: none;
        padding-inline: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 2px;
    }

    .two {
        padding-left: 100px;
        padding-top: 100px;
    }

    .work_list {
        display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 42px;
  padding-inline: 41px;
  padding-bottom: 82px;
    }

    .serv_txt {
        padding-inline: 50px;
        text-align: center;
    }

    section {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 103vh;
      }

      .hidden {
        justify-content: center;
      }

      .about_header {
        font-size: 40px;
      }

}

@media screen and (max-width: 500px) {

    .work_list {
    grid-template-columns: repeat(1, 1fr);
    padding-inline: 80px;
    }
}

@media screen and (max-width: 1000px) {

.mevid {
    width: 400px;
}

.me {
    width: 100%;
    align-items: center;
    transition-delay: 400ms;
    border-radius: 10px;
    box-shadow: 0px 2px 15px rgba(49, 49, 49, 0.1);
}

#about {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust as needed */
    grid-gap: 6px; /* Add gap between items */
}

#about .hidden {
    width: 100%; /* Adjust as needed */
}

.two {
    /* If this class is part of the grid, adjust properties accordingly */
    /* For instance, consider adjusting padding or width for grid-based layout */
    padding: 20px; /* Example padding */
    max-width: none; /* Adjust based on grid layout */
}
}

li {
    list-style: none;
  }

  #iframe-container {
    text-align: center;
    padding-top: 7vh;
  }

  #iframe-container iframe {
    width: 600px; /* Adjust the width as needed */
    height: 450px; /* Adjust the height as needed */
  }

  .image-gallery {
        column-count: 3; /* Number of columns */
        column-gap: 15px; /* Spacing between columns */
        width: 90%;
        padding-inline: 10vh;
      }
      
      .image {
        display: inline-block;
        margin-bottom: 15px; /* Spacing between items */
        width: 100%; /* Ensure full width of the column */
      }
      
      .image img {
        width: 100%; /* Make images fill their containers */
        display: block;
      }
      
      @media only screen and (max-width: 1200px) {
        .learn_more {
            bottom: 9%;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .slayfirst {
            display: none;
        }

        .slaysecond {
            display: block;
            
        }
      }
      
      .mevid {
        display: none;
      }

      .profile-pic {
        width: 50%;
      }

      .profile-radius {
        border-radius: 30px;
      }

      section:nth-child(5) {
        display: grid;
        place-items: center;
        align-content: center;
        min-height: 10vh;
      }